$font-path: '../Fonts/';

$font: 'loremipsumregular';
$font_name: 'lorem_ipsum_regular';
@font-face {
	font-family: $font_name;
	src: url($font-path + $font + '.eot');
	src: url($font-path + $font + '?#iefix') format('embedded-opentype'),
	url($font-path + $font + '.woff') format('woff'),
	url($font-path + $font + '.ttf') format('truetype'),
	url($font-path + $font + '.svg##{$font_name}') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font: 'loremipsumbold';
$font_name: 'lorem_ipsum_bold';
@font-face {
	font-family: $font_name;
	src: url($font-path + $font + '.eot');
	src: url($font-path + $font + '?#iefix') format('embedded-opentype'),
	url($font-path + $font + '.woff') format('woff'),
	url($font-path + $font + '.ttf') format('truetype'),
	url($font-path + $font + '.svg##{$font_name}') format('svg');
	font-weight: bold;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
