.header {
    color: $c_white;
    background: url(../../image/fondo-izquierda.svg);
    background-color: $main_color;
    background-size: 100%;
    background-position: 10px;

    .header-top {
        padding: 20px 0;

        .logo-site {
            img {
                width: 260px;
            }
        }

        #second-logo {
            display: block;
            margin: 15px 0;
        }

        #form-search {
            margin: 15px 0;
        }
    }
}

@media(max-width: $d_small) {
    .header {
        text-align: center;
    }
}
