// ===========================================================
// ICONFONT
// ===========================================================

$icon-path: '../Icons/';

@font-face {
	font-family: 'icomoon';
	src:	url($icon-path + 'icomoon.eot?q042cs');
	src:	url($icon-path + 'icomoon.eot?q042cs#iefix') format('embedded-opentype'),
	url($icon-path + 'icomoon.ttf?q042cs') format('truetype'),
	url($icon-path + 'icomoon.woff?q042cs') format('woff'),
	url($icon-path + 'icomoon.svg?q042cs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

%icon,
[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}