<!-- Start FOOTER -->
<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Así funciona</a></li>
                        <li><a href="">Comprar</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Locales asociados</a></li>
                        <li><a href="">Unete a nuestros asociados</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Conéctese con nosotros</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <p class="copyright">
                        2019 &#169; Formar un imperio SL <br/>
                        Todos los derechos reservados
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- End FOOTER -->