iframe {
    &.map {
        width: 100%;
    }
}

.content-page {
    &__address {
        margin-bottom: 10px;

        h1 {
            margin: 0 0 5px;
        }
    }



    &__info {
        height: 100%;
        padding: 30px;
        color: $main_color;
        background: url(../image/fondo-derecha.svg);
        background-color: $c_white;
        background-size: 270%;
        background-position: -250px -100px;

        &-spar {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            background: url(../image/fondo-izquierda.svg) #1F4B7D;
            background-position: 10px;
            color: white;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
        }
}

.slider-for {
    max-height: 350px;

    .slick-slide {
        img {
            width: 100%;
            margin-bottom: 20px;
            object-fit: contain;
            height: 300px;
        }
    }
}

.use-offer {
    position: absolute;
    color: white;
    cursor: pointer;
    background: url(../image/fondo-izquierda.svg) #1F4B7D;
    bottom: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        background: url(../image/fondo-derecha.svg) #fff;
        border: 1px solid #1F4B7D;
    }
}

.slider-nav {
    img {
        width: 300px !important;
        height: 100px;
        padding: 10px;
    }
}
