[needsSubscription]

==
<?php
use App2share\App\Models\Offer;
use App2share\App\Models\OfferUser;
use RainLab\User\Facades\Auth;
use Illuminate\Support\Carbon;

public function onStart()
{
      $user   = Auth::getUser();

    $caca = $user->subscription('main');

if ($caca) {
$test = true;
} else {
$test = false;
}

$this["test"] = $test;
}
?>
==

<span id="btn-offer">
        {% if offerUser is null %}
            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default use-offer">Usar oferta</button>
        {% else %}
        <span style="color: red; font-size: 18px; font-weight: 600;">Oferta usada: {{offerUser.created_at|date("m/d/Y H:i:s", "Europe/Paris")}}</span>

        <p style="color: red; font-size: 18px; font-weight: 600;">
            Tiempo restante para volver a usarla: <span id="timer"></span>
        </p>

        {% endif %}
    </span>

{{test}}
