
{% partial 'useroffer/button' %}

<!-- Modal -->
<div class="control-popup modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{offer.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{offer.description|raw}}
                <p>Podrás volver a usar la oferta en 24 horas</p>

            </div>
            <div class="modal-footer">

                {% if user %}
                    <form data-request-flash data-request="{{ __SELF__ }}::onUserOffer"
                          data-request-data="[offer_id: {{offer.id}}]"
                          data-request-update="'useroffer/button': '#btn-offer'"
                          data-request-success="closeModal(); countdownTimeStart(data.validTo.date);"
                    >

                        <h2 id="main_captcha" ></h2>
                        <input type="text" id="txt_input" name="ip_ct_number" maxlength="3" required />
                        <span id="txt_input_error" style="display:none; color: red;">Los números introducidos no son corrrectos</span>

                        <input type="hidden" id="ct_number" name="ct_number" />
                        <button type="submit" data-attach-loading class="btn btn-primary">Usar oferta</button>
                    </form>
                {% else %}
                    <p><a href="/login">Logueate</a> para poder usar la oferta (por ahora todos los usuarios)</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
    function closeModal() {
        $('#exampleModal').modal('hide');
    }

    function countdownTimeStart(data) {
        let countDownDate = new Date(data).getTime();

        let x = setInterval(function() {

            // Get todays date and time
            let now = new Date();

         /*  let utc = nowUTC.getTime() + (nowUTC.getTimezoneOffset() * 60000);
            let now = new Date(utc + (3600000 * '+2'));*/

            // Find the distance between now an the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "ERROR";
            }
        }, 1000);
    }

    function captcha(){
        let alpha = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        let i;
        for (i = 0; i < 3 ; i++){
            var a = alpha[Math.floor(Math.random() * alpha.length)];
            var b = alpha[Math.floor(Math.random() * alpha.length)];
            var c = alpha[Math.floor(Math.random() * alpha.length)];
        }
        let code = a + ' ' + b + ' ' + ' ' + c;


        document.getElementById("main_captcha").innerHTML = code;
        document.getElementById("main_captcha").value = code;
        document.getElementById("ct_number").value = removeSpaces(code);
    }

    function validCaptcha(){
        var string1 = removeSpaces(document.getElementById('main_captcha').value);
        var string2 = removeSpaces(document.getElementById('txt_input').value);

        if (string1 !== string2) {
            document.getElementById("txt_input_error").style.display = "block";
            return false;
        }
    }

    function removeSpaces(string){
        return string.split(' ').join('');
    }

    captcha();

</script>

{% if offerUser %}
<script>
    countdownTimeStart("{{offerUser.valid_to|date('m/d/Y H:i:s', 'Europe/Paris')}}");
</script>
{% endif %}

