#form-search {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px 10px 40px;
  font-size: rem(16);
  color: $c_main;
  border: 2px solid $c_main;
  background: url("../images/icons/search.svg") no-repeat scroll 10px;
  background-size: 20px;
}

