// ===========================================================
// NAVIGATION
// ===========================================================

.header {
  font-size: rem(20);
  color: $c_main;

  .main-nav {
    float: left;
    background-color: $c_white;

    ul {
      li {
        a {
          color: $c_main;

          &:hover {
            color: $c_white;
            background-color: $c_main;
          }
        }
      }
    }
  }


  .nav-user {
    float: right;

    ul {
      li {
        a {
          color: $c_white;

          &:hover {

          }
        }
      }
    }
  }

  .nav-lang {
    float: right;
    padding: 10px 50px;

    img {
      width: 30px;
    }
  }

  .main-nav, .nav-user, .nav-lang {
    ul {
      margin: 10px 0;
      padding-left: 0;

      li {
        display: inline-block;

        a {
          padding: 10px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}