<section class="c-items-grid c-items-grid--shop">
    <div class="o-wrapper o-wrapper--xl">
        <div class="c-items-grid__row u-mrb-xl ">
            <div class="o-layout o-layout--gutter-left-l  o-layout--gutter-bottom-xl">
                <div class="o-layout__item u-2/4@m">
                    {% for product in products %}
                    <div class="c-items-grid__item">
                        <div class="c-items-grid__media">
                            <picture class="c-images c-images--58">
                                <source media="(max-width: 900px)" srcset="{{ subs.preview_image.path }}">
                                <img data-src="{{ subs.preview_image.getThumb(672,390,'crop') }}"/>
                            </picture>
                        </div>
                        <div class="u-align-center u-mrt-s">
                            <a href="{{ 'product-info'|page ({ slug: product.slug }) }}">
                                <h2 class="c-items-grid__title">{{ product.name }}</h2>
                            </a>
                            <span class="c-items-grid__subtitle">Desde {{ product.offer.first.price|number_format(2, '.', ',') }}</span>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
