{% partial 'offerrating/comments' %}

{% if user %}
<form data-request-flash data-request="{{ __SELF__ }}::onSaveValoration"
      data-request-data="[offer_id: {{offer.id}}, user_id: {{user.id}}]"
      data-request-update="'offerrating/comments': '#comments-offer'" class="form-offer">
    <div class="form-group">
        <label for="stars">Stars</label>
        <input type="number" name="stars" id="stars" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="comment">Comentario</label>
        <input type="text" name="comment" id="comment" class="form-control" required>
    </div>
    <div class="form-group mt-5">
        <input type="submit" value="Enviar" class="form-control btn-primary">
    </div>
</form>
{% else %}
    <p>Logueate para poder comentar</p>
{% endif %}



