==
<ul class="c-header__languages">
    <li><a class="{{ 'es' == activeLocale ? 'active' }}" href="javascript:;"  data-request="onSwitchLocale" data-request-data="locale: 'es'">ES</a></li>
    <li><a class="{{ 'en' == activeLocale ? 'active' }}" href="javascript:;"  data-request="onSwitchLocale" data-request-data="locale: 'en'">EN</a></li>
    <li><a class="{{ 'de' == activeLocale ? 'active' }}" href="javascript:;"  data-request="onSwitchLocale" data-request-data="locale: 'de'">DE</a></li>
</ul>
