<!DOCTYPE html>

<html>
	<head>
		<title>Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/vendor/bootstrap-grid.min.css" />
		<link rel="stylesheet" href="css/vendor/fontawesome.min.css" />
		<link rel="stylesheet" href="css/vendor/slick.css" />
		<link rel="stylesheet" href="css/vendor/slick-theme.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>

		<div class="wrapper">
			<!-- Start HEADER -->
			<div class="header container clearfix">
				<header>
					<div class="header-top">
						<div class="row">
							<div class="col-sm-4">
								<a href="" title="Zur Startseite" id="main-logo" class="logo"><img src="images/logo.png" alt="Logo" title="Logo"></a>
							</div>
							<div class="col-sm-4">
								<a href="" title="Zur Startseite" id="second-logo" class="logo"><img src="images/sharing.png" alt="Logo" title="Sharing"></a>
							</div>
							<div class="col-sm-4">
								<input type="text" placeholder="Buscar ofertas por tu zona" class="form-control" id="form-search" />
							</div>
						</div>
					</div>

					<nav class="main-nav">
						<ul>
							<li><a href="">Inicio</a></li>
							<li><a href="">Ofertas</a></li>
							<li><a href="">Eventos</a></li>
							<li><a href="">Así funciona</a></li>
							<li><a href="">Comprar</a></li>
						</ul>
					</nav>

					<div class="nav-user">
						<ul>
							<li><a href="">Registrar</a></li>
							<li><a href="">Login</a></li>
						</ul>
					</div>
				</header>
			</div>
			<!-- End HEADER -->

			<div class="content-wrap">


				<!-- Start CONTENT -->
				<div class="content">
					<iframe width="425" height="350" class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.549514770507813%2C39.46959506012395%2C2.8708648681640625%2C39.64165260123419&amp;layer=mapnik&amp;marker=39.555823891186364%2C2.7101211715489626"></iframe><br/><small></small>

					<div class="content-page container">
						<div class="row">
							<div class="col-sm-6">
								<h1>Habana Q</h1>

								<div class="slider-for">
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
								</div>

								<div class="slider-nav">
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
									<div class="item">
										<img src="images/foto.jpg" alt="image"  draggable="false"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<h2>2x1 en la primera copa</h2>
								<p style="line-height: 1.5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et malesuada mauris. In rhoncus diam in enim molestie porttitor. Duis ac rhoncus nibh. Nulla fringilla iaculis quam, a lacinia mauris vulputate id. Nulla cursus convallis urna, et dapibus justo cursus non. Fusce tellus orci, facilisis eu vehicula eu, lobortis eget nibh. Praesent vel venenatis lacus, quis efficitur felis. Sed vel ultricies magna. Suspendisse potenti. Pellentesque sodales vitae ante et scelerisque. Proin non rhoncus erat, vel auctor neque. Suspendisse commodo viverra diam, quis aliquet neque eleifend vitae. In consequat, erat fringilla aliquet blandit, magna eros placerat urna, eu rutrum augue neque nec magna.

									Etiam mollis arcu non mi gravida, sit amet faucibus tellus fermentum. Mauris bibendum posuere lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc rutrum nunc sit amet magna tempor, vulputate tempor nulla tincidunt. Donec enim justo, vehicula sit amet arcu ut, vehicula tincidunt sem. Vestibulum pellentesque in massa eget efficitur. Phasellus quis nisl a turpis sagittis vestibulum. Aenean dapibus sed tellus sed dapibus. Nulla magna elit, pharetra ac tempor sit amet, tincidunt a ipsum. Aliquam vel mollis nibh. Vestibulum aliquet velit leo, non vehicula dui venenatis in.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End CONTENT -->
			</div>
		</div>

		<!-- Start FOOTER -->
		<div class="footer">
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<ul>
								<li><a href="">Inicio</a></li>
								<li><a href="">Ofertas</a></li>
								<li><a href="">Así funciona</a></li>
								<li><a href="">Comprar</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<ul>
								<li><a href="">Contacto</a></li>
								<li><a href="">Locales asociados</a></li>
								<li><a href="">Unete a nuestros asociados</a></li>
								<li><a href="">Preguntas frecuentes</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<ul>
								<li><a href="">Conéctese con nosotros</a></li>
								<li><a href="">Facebook</a></li>
								<li><a href="">Instagram</a></li>
								<li><a href="">Youtube</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<p class="copyright">
								2019 &#169; Formar un imperio SL <br/>
								Todos los derechos reservados
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- End FOOTER -->

		<script src="js/vendor/jquery-2.2.0.js"></script>
		<script src="js/vendor/slick.min.js"></script>
		<script src="js/functions.js"></script>

	</body>
</html>