test123=1
==
<div id="mapid" style="height:500px;"></div>

{% for part in partner %}

    {{part.latitude}}
    {{part.longitude}}


{% endfor %}

{% set twigVariable = '123456' %}


{% put scripts %}
<script>
    alert('{{twigVariable}}');
    var coordsLatt = '{{twigVariable}}';
    var coordsLong = '12.43423';
    var pname = 'como estan ustedes';
    var mymap = L.map('mapid').setView([coordsLatt, coordsLong], 16);

    L.marker([coordsLatt, coordsLong]).addTo(mymap);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var popup = L.popup()
        .setLatLng([coordsLatt, coordsLong])
        .setContent(pname)
        .openOn(mymap);
</script>
{% endput %}