// ===========================================================
// COLORS
// ===========================================================

// Font colors
$c_font_default: #3a3a3a;
$c_divider: #000;

$c_font_facebook: #3B5998;
$c_font_twitter: #55acee;
$c_font_googleplus: #DC4E41;

$c_white: #fff;

// Element colors
$c_border: #f1f1f1;

$c_main: #204C7D;

// Errors
$c_border_error: darken(#ff0000, 10);
$c_font_error: darken(#ff0000, 10);


// ===========================================================
// FONTS
// ===========================================================

$f_regular: Arial, sans serif;

// ===========================================================
// DIMENSIONS
// ===========================================================

$d_large: 1200px;
$d_medium: 992px;
$d_small: 768px;
$d_extra_small: 576px;

// ===========================================================
// BREAKPOINTS
// ===========================================================

$breakpoints: (
		'large': $d_large,
		'medium': $d_medium,
		'small': $d_small,
		'extra-small': $d_extra_small
);

// ===========================================================
// TIME
// ===========================================================

$fast: 150ms;
$slow: 300ms;

// ===========================================================
// PATHS
// ===========================================================

$img-path: '../images';