<form action="" method="post" id="payment-form">
    <div class="form-group">
        <div class="form-row">
            <div id='calendar' style="width: 330px; padding: 30px;"></div>

            <input type="hidden" name="amount" id="form_amount" />
            <input type="hidden" name="start_date" id="form_start_date" />
            <input type="hidden" name="start_end" id="form_end_date" />

            <ul style="display: none;">
                {% for offer in obOffer %}
                    <li>
                        <input type="radio" id="days-{{ offer.name }}" class="pack-products" name="code"
                               value="{{ offer.code }}">
                        <label for="days-{{ offer.name }}"></label><br>
                    </li>
                {% endfor %}
            </ul>

            <span id="days-price"></span>

            <div id="card-element" style="width: 100%;">
                <!-- a Stripe Element will be inserted here. -->
            </div>

            <div id="card-errors" role="alert"></div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" data-attach-loading>Pay with card</button>

    <div id="paypal-pack-container"></div>

</form>

<script src="https://www.paypal.com/sdk/js?client-id=AWQ8g3KD0UCOYmnAIKmCbyywIvxBayYy_2C7qgxKrdR1tHZIeBJ_jv8mn_t_dKxKMyyqaVErKPPvNT62&currency=EUR&disable-funding=card"
        data-sdk-integration-source="button-factory"></script>

<script>
    // PAYPAL BUTTON PACK
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'blue',
            layout: 'vertical',
            label: 'checkout',

        },
        createOrder: function(data, actions) {
            let amount = document.getElementById('form_amount').value;
            let formStartDate = document.getElementById('form_start_date').value;
            let formEndDate = document.getElementById('form_end_date').value;
            var generateAmount = null;
            var idOrder = null;

            $.ajax({
                url: "/payment/paypal",
                async: false,
                data: {'amount': amount, 'formStartDate': formStartDate, 'formEndDate': formEndDate},
                method: 'post',
                success: function(data) {
                    idOrder = data.idOrder;
                    generateAmount = data.amount;
                }
            });


           return actions.order.create({
                purchase_units: [{
                    custom_id: idOrder,
                    amount: {
                        value: generateAmount
                    },
                }],
               application_context: {
                   shipping_preference: 'NO_SHIPPING'
               }
            });
        },

        onApprove: function(data, actions) {
            return actions.order.get().then(function (orderDetails) {
                $.ajax({
                    url: "/payment/approve",
                    method: 'post',
                    data: {'data': orderDetails.purchase_units},
                    success: function(data){
                        window.location='/thank-you';
                    }
                });
            });
        }
    }).render('#paypal-pack-container');


    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction'],
            selectable: true,
            height: 400,
            locale: 'es',
            select: function (info) {
                const diffTime = Math.abs(info.end - info.start);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                let totalPrice = 0;

                if (diffDays < 3) {
                    alert('Elige tres o más dias');
                } else if (diffDays >= 3 && diffDays <= 7) {
                    document.getElementById('days-3').checked = true;
                    totalPrice = diffDays * 3;
                } else if (diffDays > 7 && diffDays <= 14) {
                    document.getElementById('days-7').checked = true;
                    totalPrice = diffDays * 2.5;

                } else if (diffDays > 14 && diffDays <= 21) {
                    document.getElementById('days-14').checked = true;
                    totalPrice = diffDays * 2;
                } else {
                    document.getElementById('days-21').checked = true;
                    totalPrice = diffDays * 1.5;
                }

                document.getElementById('form_start_date').value = info.startStr;
                document.getElementById('form_end_dat' +
                    'e').value = info.endStr;
                document.getElementById('form_amount').value = totalPrice;

                document.getElementById('days-price').innerHTML =
                    'Fecha desde: ' + info.startStr + ' <br/> ' +
                    'Fecha hasta: ' + info.endStr + ' <br/>' +
                    'Total dias: ' + diffDays + ' <br/>' +
                    'Precio: ' + totalPrice + '€ - ' + totalPrice / diffDays + '€/día';
            }
        });

        calendar.render();
    });
</script>
