<form action="" method="post" id="payment-form">
    <div class="form-group">
        <div class="form-row">
            <ul>
                {% for offer in obOffer %}
                    <li>
                        <input type="radio" id="{{ offer.id }}" name="code" value="{{ offer.code }}" data-paypal="{{offer.paypal_code}}">
                        <label for="{{ offer.id }}">{{offer.name}}: Price: {{ offer.price }} {{ offer.currency }}</label><br>
                    </li>
                {% endfor %}
            </ul>


            <div id="card-element" style="width: 100%;">
                <!-- a Stripe Element will be inserted here. -->
            </div>

            <div id="card-errors" role="alert"></div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" data-attach-loading>Pay with card</button>

    <div id="paypal-subscription-container">
    </div>
</form>

<script src="https://www.paypal.com/sdk/js?client-id=AWQ8g3KD0UCOYmnAIKmCbyywIvxBayYy_2C7qgxKrdR1tHZIeBJ_jv8mn_t_dKxKMyyqaVErKPPvNT62&vault=true&currency=EUR&disable-funding=card"
        data-sdk-integration-source="button-factory"></script>

<script>
    // PAYPAL BUTTON SUSCRIPTIONS
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'blue',
            layout: 'vertical',
            label: 'subscribe',

        },
        createSubscription: function(data, actions) {
            var planChecked = document.querySelector('input[name="code"]:checked');
            var planCheckedValue = planChecked.value;

            if (planChecked) {
                $.ajax({
                    url: "/payment/paypal",
                    data: {'planChecked': planCheckedValue},
                    method: 'post',
                    success: function(data) {console.log(data)}
                });

                var codePaypal = planChecked.dataset.paypal;
                return actions.subscription.create({
                    'plan_id': codePaypal
                });
            }
            else {
                return false;
            }
        },
        onApprove: function(data, actions) {
            console.log(data);
        }
    }).render('#paypal-subscription-container');
</script>
