{% put scripts %}
<script src="{{'assets/js/fullcalendar.js'|theme}}"></script>
<script src="{{'assets/js/daygrid.js'|theme}}"></script>
<script src="{{'assets/js/interaction.js'|theme}}"></script>

{% if includeStripeJs %}
    <script src="https://js.stripe.com/v3/"></script>
{% endif %}

<script>
    // Create a Stripe client
    var stripe = Stripe('{{ stripeKey }}');

    {% partial __SELF__ ~ '::tokenHandler.js' %}

    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            lineHeight: '24px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        let code = document.querySelector('input[name="code"]:checked').value;
        let start_date = document.getElementById('form_start_date').value;
        let end_date = document.getElementById('form_end_date').value;


        event.preventDefault();

        $submit.prop('disabled', true).text('{{ submitButtonLabel }}');

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
                $submit.prop('disabled', false).text(oldSubmitText);
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token, code, start_date, end_date);
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'interaction' ],
            selectable: true,
            height: 400,
            locale: 'es',
            select: function(info) {
                const diffTime = Math.abs(info.end - info.start);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                let totalPrice = 0;

               if (diffDays < 3) {
                   alert('Elige tres o más dias');
               } else if (diffDays >= 3 && diffDays <= 7) {
                   document.getElementById('days-3').checked = true;
                   totalPrice = diffDays * 3;
               } else if (diffDays > 7 && diffDays <= 14) {
                   document.getElementById('days-7').checked = true;
                   totalPrice = diffDays * 2.5;

               } else if (diffDays > 14 && diffDays <= 21) {
                   document.getElementById('days-14').checked = true;
                   totalPrice = diffDays * 2;
               } else {
                   document.getElementById('days-21').checked = true;
                   totalPrice = diffDays * 1.5;
               }

               document.getElementById('form_start_date').value = info.startStr;
               document.getElementById('form_end_date').value = info.endStr;
               document.getElementById('form_amount').value = totalPrice;

                document.getElementById('days-price').innerHTML  =
                   'Fecha desde: ' + info.startStr + ' <br/> ' +
                   'Fecha hasta: ' + info.endStr + ' <br/>' +
                   'Total dias: ' + diffDays + ' <br/>' +
                   'Precio: ' + totalPrice + '€ - ' + totalPrice / diffDays + '€/día';
            }
        });

        calendar.render();
    });
</script>
{% endput %}
