title = "Oferta"
url = "/oferta/:slugPartner/:slugOffer"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Offer"
localeTitle[de] = "Angebot"
localeUrl[en] = "/offer/:slugPartner/:slugOffer"
localeUrl[de] = "/angebot/:slugPartner/:slugOffer"

[OfferRating]

[UserOffer]
==
<?php
use App2share\App\Models\Offer;
use App2share\App\Models\OfferUser;
use RainLab\User\Facades\Auth;
use Illuminate\Support\Carbon;

function onStart()
{
    $user = Auth::getUser();
    $offerUser = null;

    $offer = Offer::where('slug', $this->param('slugOffer'))->whereHas('partner', function($query) {
        $query->where('slug', $this->param('slugPartner'));
    })->with('offerRating')->first();

    if (!$offer) {
        return Redirect::to('404');
    }

    if ($user) {
        $offerUser = OfferUser::where('user_id', $user->id)
        ->where('offer_id', $offer->id)
        ->where('created_at', '<', Carbon::now())
        ->where('valid_to', '>', Carbon::now())
        ->first();
    }
    $partner = $offer ? $offer->partner : null;

    $averageRating = 0;
    $offerRating = $offer->offerRating;

    if ($offerRating->count() > 0) {
        foreach ($offerRating as $rating) {
            $averageRating += $rating->stars;
        }

        $this["ratingAverage"] = $averageRating / $offerRating->count();

    } else {
        $this['ratingAverage'] = 0;
    }

    $this["offer"] = $offer;
    $this["partner"] = $partner;
    $this["offerUser"] = $offerUser;

}
?>
==
<div class="content-wrap">
    <!-- Start CONTENT -->
    <div class="content">
        {%if partner %}

        <div id="mapid" style="height: 300px;"></div>


        <div class="content-page container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="rating">
                        {% for i in 1..5 %}
                        {% set starClass = (ratingAverage >= i ? "star fa fa-star" : "star fa fa-star-o") %}
                        <i class="{{ starClass }}"></i>
                        {% endfor %}
                    </div>
                    <div class="content-page__address">
                        <h1>{{partner.name}}</h1>
                        <span class="address-partner">
                            {{ partner.address_1|raw }}
                         </span>
                    </div>

                    <div class="slider-offer">
                        <div class="slider-for">
                            {% for image in partner.images %}
                            <div class="item">
                                <img src="{{ image.thumb(600, auto) }}" alt="image"
                                     style="width: 100%; margin-bottom: 20px;" draggable="false"/>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="slider-nav">
                            {% for image in partner.images %}
                            <div class="item">
                                <img src="{{ image.thumb(100, auto) }}" alt="image" draggable="false"/>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content-page__info">
                        <h2>{{offer.name}}</h2>
                        {{offer.description|raw}}
                        <span class="content-page__info-spar">Ahorro <br/> {{ offer.spar }}€</span>

                        {% component 'UserOffer' offer=offer.id %}
                    </div>
                </div>
            </div>

            <div class="c-product__social">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{''|page}}&t={{offer.name}}" target="_blank" class="c-product__social-item"><img width="23" src="{{'assets/images/fb.png'|theme}}" alt="facebook" /></a>
                <a href="https://twitter.com/intent/tweet/?url=http://inpalma.rwdesarrollos.es/product/{{offer.slug}}" target="_blank" class="c-product__social-item"><img width="23" src="{{'assets/images/twitter.png'|theme}}" alt="twitter"/></a>
                <a href="https://api.whatsapp.com/send?text={{offer.name}}%0A{{''|page}}" data-action="share/whatsapp/share" target="_blank" class="c-product__social-item"><img width="22" src="{{'assets/images/icons/whatsapp-negro.png'|theme}}" alt="whatsapp"/></a>
                <a href="mailto:?subject={{offer.name}}&body={{offer.description|striptags}}<br>{{''|page}}"  target="_blank"  class="c-product__social-item"><img width="23" src="{{'assets/images/mail.png'|theme}}" alt="mail"/></a>
            </div>

            {% component 'OfferRating' offer=offer.id %}

            {% else %}
                No existe
            {% endif %}
        </div>
    </div>
    <!-- End CONTENT -->
</div>

{% put scripts %}

<script>
    let mbAttr = '',
        mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

    let streets = L.tileLayer(mbUrl, {id: 'mapbox.streets', attribution: mbAttr});

    let latitude =  "{{ partner.latitude }}";
    let longitude =  "{{ partner.longitude }}";

    map = L.map('mapid', {
        attributionControl: false,
        center: [latitude, longitude],
        zoom: 13,
        layers: [streets]
    });

    marker = L.marker(
        [
            latitude,
            longitude
        ]
    ).addTo(map);

    gps = new L.Control.Gps({
        autoActive: true,
    });

    gps.addTo(map);

</script>
{% endput %}
